.navbar {
    z-index: 1;

    &__toolbar {
        background-color: $color-tertiary-light;
    }
}

.nav__link {
    display: flex;
    padding: 15px;
    transition: 250ms;
    border-radius: 10px;

    &:hover {
        background-color: $color-secondary;
        transform: scale(1.1);
    }
}