.sidenav__title {
  background-color: $color-primary;

  &__toggle {
    &:hover {
      background-color: $color-secondary;
    }
  }
}

.container__menu {
  &__titles {
    color: $color-white !important;

    &:hover {
      background-color: $color-tertiary !important;
      transform: scale(1.1);
    }
  }
}
