<div class="champions" *ngIf="champions.length">
  <div class="champions__type">
    <h1 class="champions__type-title mb-3">Champions List</h1>

    <mat-button-toggle-group (change)="onSelectTypeView($event)">
      <mat-button-toggle [checked]="isInitView">
        <img src="./assets/icons/view_icon_list.svg" alt="mini_icon_view" />
      </mat-button-toggle>
      <mat-button-toggle [checked]="!isInitView">
        <img src="./assets/icons/view_column_list.svg" alt="splash_view" />
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <mat-divider></mat-divider>

  <div class="champions__list">
    <ng-container *ngFor="let champion of champions">
      <app-mini-icons-champions *ngIf="isInitView" [champion]="champion"></app-mini-icons-champions>
      <app-splash-champion *ngIf="!isInitView" [champion]="champion"></app-splash-champion>
    </ng-container>
  </div>
</div>