// Prevent that the color of Angular Material's anchor buttons where Bootstrap's primary color.
$link-color: #673ab7;
$label-margin-bottom: 0;

// Use Material Design breakpoints
$grid-breakpoints: (
  // handset portrait (small, medium, large) | handset landscape (small)
  xs: 0,
  // handset landscape (medium, large) | tablet portrait (small, large)
  sm: 600px,
  // tablet landscape (small, large)
  md: 960px,
  // laptops and desktops
  lg: 1280px,
  // large desktops,
  xl: 1600px
);

$container-max-widths: (
  sm: 600px,
  md: 960px,
  lg: 1280px,
  xl: 1600px,
);

// Structure's colors

$color-black: #000;
$color-white: #F0F0F0;

$color-primary: #AAA43F;

$color-secondary: #ADD1D9;

$color-tertiary: #023859;
$color-tertiary-light: #0477BF;
$color-tertiary-dark: #0F111E;

// label color

$color-tags: #74d2e7;
$color-spell-name: rgb(255, 0, 0);