<section class="about__container">
  <article class="about__container__msg">
    <h1 class="text-center">LEAGUE OF LEGENDS</h1>
    <br />

    <p>
      Website made by
      <a class="about__container__msg-link" href="https://www.linkedin.com/in/edgar-benítez-valera-a191b0105"
        target="/blank">EDGAR BENÍTEZ</a>
      for demonstration purposes. The project was developed using
      <a class="about__container__msg-link" href="https://angular.io/" target="/blank">ANGULAR Framework</a>,
      <a href="about__container__msg-link" href="https://material.angular.io/" target="/blank">ANGULAR MATERIAL</a>, and
      <a href="about__container__msg-link" href="https://material.angular.io/" target="/blank">BOOTSTRAP</a>
      to create the UI, in communication with the Official RESTful API
      <a class="about__container__msg-link" href="https://developer.riotgames.com/docs/lol" target="/blank">DATA
        DRAGON</a>
      of Riot Games.
      <br />
      <br />
      The source code is available at
      <a class="about__container__msg-link" href="https://github.com/edgarbenitez92/LeagueofLegends"
        target="/blank">GITHUB</a>.
    </p>
    <br />
    <br />
    <div class="text-center">
      <button mat-raised-button color="warn" (click)="back()" [matTooltip]="'RETURN' | translate">
        <mat-icon>reply_all</mat-icon> {{ 'RETURN' | translate }}
      </button>
    </div>
  </article>
</section>