// Prevents that the normal links color where Bootstrap's primary color
a {
  &.mat-button,
  &.mat-raised-button,
  &.mat-fab,
  &.mat-mini-fab,
  &.mat-list-item {
    &:hover {
      color: currentColor;
    }
  }
}
