// Prevent that the color of Angular Material's anchor buttons where Bootstrap's primary color.
$link-color: #673ab7;
$label-margin-bottom: 0;

// Use Material Design breakpoints
$grid-breakpoints: (
    // handset portrait (small, medium, large) | handset landscape (small)
    xs: 0,
    // handset landscape (medium, large) | tablet portrait (small, large)
    sm: 600px,
    // tablet landscape (small, large)
    md: 960px,
    // laptops and desktops
    lg: 1280px,
    // large desktops,
    xl: 1600px
);

$container-max-widths: (
    sm: 600px,
    md: 960px,
    lg: 1280px,
    xl: 1600px,
);