@import 'abstracts/variables';

@import 'base/custom-theme';
@import 'base/reset';
@import 'base/typography';
@import 'base/scroll-webkit';
@import 'base/swiper';

@import 'components/splash-card';
@import 'components/mini-icon-card';
@import 'components/spinner';

@import 'layout/sidenav';
@import 'layout/navbar';

@import 'pages/dashboard';
@import 'pages/champions-lists';
@import 'pages/champion-detail';
