<mat-sidenav-container class="dashboard" [hasBackdrop]="true">
  <mat-sidenav #sidenav mode="push" [(opened)]="opened" [fixedInViewport]="true">
    <app-sidenav [sidenav]="sidenav"></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content class="vh-100 d-flex flex-column">
    <app-navbar [sidenav]="sidenav"></app-navbar>
    <main class="dashboard__champions pt-5 mt-5 pb-5 d-flex justify-content-center">
      <router-outlet></router-outlet>
    </main>
    <!-- <app-footer></app-footer> -->
  </mat-sidenav-content>
</mat-sidenav-container>