@import 'styles/main';

// Bootstrap stuff
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/containers';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/utilities/api';

html,
body {
  height: 100%;
  max-height: 100vh;
  background-color: $color-tertiary-dark;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-drawer-inner-container {
  background-color: $color-tertiary-dark;
}