@import "../../../../styles/abstracts/variables";

.champion-card {
    background-color: $color-tertiary;
    width: 100px;
    height: auto;
    padding: 8px;
    margin: 4px;
    transition: 250ms;
    border-radius: 5px;

    &:hover {
        background-color: $color-tertiary-dark;
        transform: scale(1.2);
    }
}

.champion-card__button {
    display: block;
    text-decoration: none;
}

.champion-card__image-container {
    height: 100px;
    width: auto;
}

.champion-card__image {
    width: 100%;
    border-radius: 5px;
}

.champion-card__name {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white;
}