@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

.swiper {
  width: 100%;
  height: 100%;
  max-width: 300px;

  @media only screen and (min-width: 750px) {
    min-width: 300px;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
  width: 100%;
  max-width: 300px;
  border-radius: 20px;
  position: sticky;

  @media only screen and (min-width: 750px) {
    min-width: 300px;
  }
}
